// --- Global vars ---


$mobile: 320px;
$tablet: 768px;
$desktop: 960px;

$footer_margin-top:30px;


/*colors    */

$site_background: white;


$gray_text_color: #777;





/*fonts     */
$font_family_sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font_family_serif: 'perpetua_titling_mtlight', Georgia, Times, serif;
$font_family_serif_bold: 'perpetua_titling_mtbold', Georgia, Times, serif;