@font-face {
    font-family: 'perpetua_titling_mtbold';
    src: url('../fonts/pertibd-webfont.eot');
    src: url('../fonts/pertibd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pertibd-webfont.woff') format('woff'),
         url('../fonts/pertibd-webfont.ttf') format('truetype'),
         url('../fonts/pertibd-webfont.svg#perpetua_titling_mtbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'perpetua_titling_mtlight';
    src: url('../fonts/pertili-webfont.eot');
    src: url('../fonts/pertili-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pertili-webfont.woff') format('woff'),
         url('../fonts/pertili-webfont.ttf') format('truetype'),
         url('../fonts/pertili-webfont.svg#perpetua_titling_mtlight') format('svg');
    font-weight: normal;
    font-style: normal;

}